header {
  margin-top: 0;
  background-color: #f9f9f9;
}
header .info {
  margin: auto 0;
  position: relative;
  height: 100%;
}
header .info h5 {
  color: var(--btn-color);
  font-size: 20px;
  margin: 10px 0;
}
header .info h2 {
  color: var(--main-color);
  font-size: 50px;
  margin: 20px 0;
  font-weight: bold;
  letter-spacing: 2px;
}
header .info button {
  background-color: var(--orange-color);
  padding: 22px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
header .info button a {
  color: white;
  font-size: 18px;
  transition: 0.3s;
}
header .info button:hover {
  opacity: 0.8;
}
header .info span {
  position: absolute;
  right: 0;
  bottom: -40%;
}
header .image {
  position: relative;
  max-width: 100%;
}
header .image img {
  max-width: 100%;
  animation: mover 4s linear infinite;
}

header .image svg {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  top: 10%;
  border: 4px solid var(--btn-color);
  color: transparent;
  animation: moversvg 4s linear infinite;
}

@keyframes mover {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes moversvg {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: rotate(45deg) translateY(-20px);
  }
}
